*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.contents{
    text-align: center;
    line-height: 35px;
}
.contents img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.contents button{
    width: 70%;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

